node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
*.tsbuildinfo
coverage
.idea
.vscode
playground/.nuxt
playground/.output
test/fixtures/*/node_modules
test/fixtures/*/.nuxt
test/fixtures/*/.output
